* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    /* position: relative; */
}

.main-content {
    width: 1400px;
    height: auto;
    margin: 0 auto;
    background: whitesmoke;
}

.site-header {
    /* background-color: aqua; */
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .nav-list {
    width: 500px;
    height: 148px;
    background: red;
    float: right;
}

.nav-list ul {
    width: 100%;
    height: 148px;
    list-style: none;
    padding: 50px 0 0 0;
    
} */
.nav-list ul li {
    float: left;
    padding-left: 77px;
}

.nav-list ul li a {
    text-decoration: none;

}

.logo-pic {
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
    float: left;
}

.site-header nav {
    text-decoration: none;
    font-size: 34px;
}

.about {
    width: 100%;
    height: 567px;
    background: #2D9CCA;
    background-image: url('../pic/O9VSKA1-01.png');
}
.about-wrapper {
    width: 1400px;
    height: 300px;
    /* background: rgb(0, 106, 192); */
    margin: 0 auto;
}

.first-header {
    font-size: 55px;
    font-weight: bold;
    color: #474866;
    margin: 50px 0 0 0;
    text-align: center;

}

.paragraph-1 {
    font-size: 24px;
    color: #474866;
    margin: 33px 0 0 0;
    text-align: center;
}

.main-content .avatar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.main-content .pc-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-info {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 75px 0 0 0;
}

.for-text {
    width: 917px;
    height: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.for-text p {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.sections-nav {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.section-design,
.section-development,
.section-illustration {
    width: 270px;
    height: 270px;
    background-color: #2D9CCA;
    border-radius: 150px;
    margin: 40px 0 0 0;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .2);
    
}

.section-design {
    margin-left: 5px;
}

.section-illustration {
    margin-right: 5px;
}

.design-icon{
    margin: 59.5px;
}

.development-icon {
    margin: 59.5px;
}

.illustrator-icon {
    margin: 59.5px;
}

.skills-text {
    display: flex;
    justify-content: space-between;
}

.designer-text {
    width: 282px;
    text-align: center;
}

.designer-text h3 {
    font-size: 45px;
    font-weight: bold;
    color: #25274D;
    margin: 30px 0 25px 0;
}

.designer-text .opis-text {
    font-size: 18px;
    color: #2D9CCA;
    margin: 0 0 35px 0;
}

.designer-text h4 {
    font-size: 22px;
    color: #25274D;
    margin: 0 0 23px 0;
}

.designer-text .opis-text2 {
    font-size: 20px;
    color: #2D9CCA;
    margin: 0 0 23px 0;
    line-height: 40px;
}


 