* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Exo 2', sans-serif;
}

/* навигација бар START */

.nav-box {
    width: 100%;
    height: 110px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);  
}

.navigation {
    width: 1620px;
    height: 110px;
    margin: 0 auto;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.nav-list {
    width: 393px;
    height: 66px;
    margin-left: 84px;
}

.nav-list li {
    float: left;
    margin: 0 50px 0 0;
}

.nav-list li:last-child {
    margin: 0;
}

.nav-list li a {
    font-size: 55px;
    text-decoration: none;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
}

.user-icons li {
    float: left;
    margin: 0 40px 0 0;
}

.user-icons img {
    width: 25px;
    height: 25px;
}

.user-icons li:last-child {
    margin: 0;
}

.user-icons li span {
    margin-left: 10px;
    color: #A7A7A7;
}

.user-icons li:nth-child(3) {
    border-right: 1px solid #A7A7A7;
    padding-right: 40px;
}

/* навигација бар END */

.nav-box2 {
    width: 100%;
    height: 82px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* под-навигација START */

.nav-box2 li {
    float: left;
    margin: 0 35px 0 0;
    font-size: 25px;
}

.nav-box2 li:last-child {
    margin: 0px;
}

/* под-навигација END */

/* инфо секција START */

.first-info h1 {
    font-size: 35px;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 0 0;
}

.first-info .info-section {
    width: auto;
    height: 200px;
    background-color: #222222;
    margin: 50px 0 0 0;
}
.img-info {
    height: 200px;
    background: url('../picture/bc-slika.png');
}

.img-info h2 {
    color: #ffffff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0 0 0;
    line-height: 48px;
}

/* инфо секција END */

/* Product слики START */

.product-present {
    width: 1620px;
    height: 2020px;
    margin: 0 auto;
    margin-top: 50px;
    /* background-color: crimson; */
    display: flex;
    flex-wrap: wrap;
}

.imgbox1 {
    width: 713.09px;
    height: 938.27px;
    background-color: #DCDCDC;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

.imgbox2 {
    width: 713.09px;
    height: 938.27px;
    background: url('../picture/Mask\ Group\ 1.jpg');
    position: absolute;
}

.imgbox3 {
    width: 713.09px;
    height: 938.27px;
    background: url('../picture/Rectangle\ 32.png');
    position: absolute;
}

.container-text {
    position: absolute;
    font-size: 35px;
    font-weight: 700;
    margin-left: 50px;
    color: #222222;
}

.container-text .like-icon {
    margin-top: 50px;
}

.aboutproducttext {
    margin-top: 635px;
}

.container-text .supp-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.shopnow-button button {
    position: absolute;
    width: 166px;
    height: 44px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    border: 2px solid #222222;
    border-radius: 25px;
    margin-left: 223px;
    margin-top: 35px;
}

.shopnow-button button:hover {
    background-color: #222222;
    color: #F5F5F5;
}

.shop-icon img {
    width: 40px;
    height: 44px;
    margin-top: 35px;
    cursor: pointer;
}

.like-icon img {
    width: 40px;
    height: 44px;

    cursor: pointer;
}



/* Product слики END */

/* Slider section START */

.slider-product {
    width: auto;
    height: 796px;
    background-color: #222222;
    margin: 50px 0 0 0;
}

.product-box-items {
    width: 1217px;
    height: 600px;
    margin-top: 50px;
    float: right;
    display: flex;
    justify-content: space-between;
}

.newtext {
    width: 66px;
    height: 24px;
    background-color: #F5F5F5;
    border-radius: 25px;
    float: right;
    margin: 50px 32px 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.product-main-text {
    font-size: 35px;
    font-weight: 700;
    color: #222222;
    margin: 32px 0 0 32px;
}

.product-description-text {
    font-size: 25px;
    font-weight: 500;
    color: #222222;
    margin: 0 0 0 32px;
}

.imgproduct {
    margin: 65px 0 0 75px;
}

.product-item1,
.product-item2,
.product-item3 {
    width: 425.14px;
    height: 600px;
    background-color: #A1ACB2;
}

.product-item3 {
    width: 347px;
}

.white-mini-logo {
    margin: 5px 0 0 150px;
}

.slider-header-text {
    font-size: 35px;
    color: #F5F5F5;
    margin: 116px 0 0 150px;
    font-weight: 700;
}

.slider-text-discription {
    font-size: 24px;
    color: #F5F5F5;
    margin: 20px 0 0 150px;
    font-weight: 300;
}

.price-text {
    font-size: 25px;
    font-weight: 500;
    color: #222222;
    margin: 60px 0 0 171px;
}

.addto-icon {
    width: 26px;
    height: 30px;
    margin: 10px 0 0 32px;
}

.slider-buttons {
    display: flex;
    width: 161px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 260px;
}

.slider-product button {
    width: 79px;
    height: 47px;
    background-color: #F5F5F5;
    border-radius: 25px 0 0 25px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: 0px;
    
}

.slider-product .btn-2 {
    border-radius: 0 25px 25px 0;
    padding-right: 10px;
}
.slider-product .btn-2 img {
    padding-right: 10px;
}

.slider-buttons img {
    width: 25px;
    height: 25px;
    padding-left: 10px;
}

/* Slider section END */

/* Privileges section START */

.privileges-section {
    width: auto;
    height: 250px;
    background-color: #EBEBEB;
    margin-top: 50px;
}

.privileges-section-box {
    width: 1720px;
    height: 250px;
    margin: 0 auto;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.privileges-header {
    font-size: 35px;
    font-weight: 700;
    color: #222222;
    text-align: center;
}

.privileges-description {
    font-size: 18px;
    font-weight: 300;
    color: #222222;
    text-align: center;
}

.vertical-border-line {
    width: 2px;
    height: 126px;
    background-color: #D5D5D5;
    
}

/* Privileges section END */

/* Video Section Start */

.video-container {
    width: auto;
    height: 835px;
    background-color: #222222;
    margin-top: 50px;
    position: absolute;
} 

.video-container .video-section {
    width: 1920px;
    height: 680px;
    margin-top: 75px;
    background-image: url(../picture/videopic.jpg);
}

.repeat-button button {
    width: 137px;
    height: 137px;
    background-image: url(../picture/Group\ 47.png);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 41%;
    left: 47%;
}

.play-track {
    width: 1920px;
    height: 10px;
    background-color: #F5F5F5;
    display: block;
    position: relative;
}

.play-track .play-track-inside {
    width: 800px;
    height: 10px;
    background-color: #F29F05;
}

/* Video Section END */


/* PRODUCT BOX */

/* .product-box {
    width: 713px;
    height: 938px;
    box-shadow: 50px 50px 0 rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-box .product-top {
    width: 100%;
    padding: 40px;
}

.product-box .product-bottom {
    flex-grow: 1;
    display: flex;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 51%, rgba(255,255,255,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 51%,rgba(255,255,255,0.5) 100%)
    background: linear-gradient(to bottom, rgba(255,255,255,0) 51%,rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
    align-items: flex-end;
    padding: 40px;
}

.product-bottom .product-description {
    width: 100%;
}

.product-box .product-bottom .product-title h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.product-box .product-bottom .product-title span {
    font-size: 18px;
}

.product-box .product-footer {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-box .product-footer .cart-btn {
    width: 40px;
    height: 40px;
    background-image: url(../picture/nav-icons/kosnica\ icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-box .product-footer a.product-details {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    padding: 3px 20px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.product-box .product-footer .details-box {
    width: calc(100% - 80px);
    text-align: center;
}

.product-box .like-btn {
    width: 40px;
    height: 40px;
    background-image: url(../picture/nav-icons/srce\ icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-box.product1 {
    background-image: url(../picture/Mask\ Group\ 1.jpg);
}

.product-box.product2 {
    background-image: url(../picture/videopic.jpg);
} */