* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    
}

body {
    background-image: url(c8vezba-sliki/del2/Layer\ 1.png);
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

.main-box {
    width: 760px;
    height: 430px;
    background-color: #fff;
    border-radius: 14px;
    margin: 200px;
    position: relative;
    box-shadow: 0px 10px 30px 0px #838383;
}

.main-pic img {
    width: 760px;
    height: 357px;
    border-radius: 14px 14px 0 0;
    border-bottom: 8px solid #bc5d5f;
}

.icon-top {
    position: absolute;
    top: 14px;
    left: 703px;
}

.timer-track {
    width: 484px;
    height: 8px;
    background-color: #5f1a2b;
    position: absolute;
    top: 349px;
}

.play-box {
    width: 80px;
    height: 73px;
    background-color: #e4d49e;
    position: absolute;
    top: 357px;
    border-radius: 0 0 0 14px;
    display: flex;
    justify-content: center;
}

.tittle {
    font-size: 18px;
    color: #1d2834;
    margin-left: 102px;
    margin-top: 22px;
}

.icons-bottom {
    position: absolute;
    top: 368px;
    left: 652px;
}

